setuptools
wheel
pandas==1.5.3
pyarrow
fastparquet
pyspark==3.3.0
delta-spark==2.1.0
psycopg2
sqlalchemy
python-dotenv
jupyter
flask
databricks-cli
streamlit
streamlit-echarts
langchain==0.0.223
openai==0.27.8